
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var sanphams = ViewBag.sanphams;
    var ctsps = ViewBag.ctsps;
}

<style>
    .w3-services-grids .causes-grid-info {
        box-shadow: none;
        padding: 0;
    }

        .w3-services-grids .causes-grid-info :hover {
            cursor: pointer;
        }

    .item-image {
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    }
</style>

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title text-morii">Thực Đơn</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="Index">Trang Chủ</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Thực Đơn </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!--/services-sec-->
<div class="w3-services py-5">
    <div class="container py-lg-4">
        <div class="title-content text-center mb-lg-5 mt-4">
            <h3 class="hny-title text-morii">Sản Phẩm</h3>
            <p class="fea-para" style="font-size:18px;">Chọn sản phẩm mà bạn muốn</p>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="/thuc-don">
                    <p class="item-tab item-tab-active">Tất Cả</p>
                </a>
                <a href="/thuc-don/ca-phe">
                    <p class="item-tab">
                        Cà Phê
                    </p>
                </a>
                <a href="/thuc-don/tra-sua">
                    <p class="item-tab">Trà Sữa</p>
                </a>
                <a href="/thuc-don/khac">
                    <p class="item-tab">Khác</p>
                </a>
            </div>
            
            <div class="col-sm-10">
                <div class="row w3-services-grids">
                    @{
                        foreach (var sp in ctsps)
                        {
                            <a href="~/thuc-don/details/@sp.ID">

                                <div class="col-lg-4 col-md-6 causes-grid">
                                    <div class="causes-grid-info">
                                        <a href="~/thuc-don/details/@sp.ID"><img src=@sp.UrlImage width="360" height="360" class="item-image" alt=""></a>
                                        <a href="~/thuc-don/details/@sp.ID" class="cause-title-wrap">
                                            <h4 class="cause-title">
                                                @sp.TenSanPham
                                            </h4>
                                        </a>
                                        <p class="card-text mb-0" style="font-size: 20px">
                                            @{
                                                var t = sp.Gia;
                                                t = t / 1000;

                                            }
                                            @t.000 đ
                                        </p>

                                    </div>
                                </div>
                            </a>
                        }
                    }

                </div>
            </div>
        </div>
        
    </div>
</div>
<!--//services-sec-->
<!-- Template JavaScript -->
<script src="~/Assets/Client/js/jquery-3.3.1.min.js"></script>
<script src="~/Assets/Client/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>

<style>
    .thuc-don-item {
        color: #146d4d !important;
    }

    .item-tab {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 42px;
    }

    .header-tab {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 36px;
        color: #146d4d;
    }

    .item-tab-active {
        font-weight: 700;
        color: #146d4d;
    }
</style>