

@{
    var session = ViewBag.session;
    var nd = ViewBag.ndd;
    var cartQtySession = ViewBag.CartQtySession;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Morii Coffee</title>
    <link rel="morii icon" href="~/Assets/Images/LogoMorii1.png" type="image/x-icon" />
    <link href="~/Assets/Client/css/style-starter.css" rel="stylesheet" />
    <script src="~/Assets/Client/js/owl.carousel.js"></script>
    <script src="~/Assets/Client/js/theme-change.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">




    <style>
        .header {
            grid-template-columns: none !important;
        }

        .avatar-img {
            border-radius: 100%;
            width: 52px;
            height: 52px;
        }

        .fw-semibold {
            font-weight: 600 !important;
        }

        .bg-light {
            --cui-bg-opacity: 1;
            background-color: rgba(235, 237, 239, var(--cui-bg-opacity)) !important;
        }

        a.dropdown-item {
            display: block;
            width: 100%;
            padding: 8px 16px !important;
            color: #4f5d73;
            font-weight: 400;
            clear: both;
            text-align: inherit;
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }

        .icon:not(.icon-c-s):not(.icon-custom-size) {
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
        }

        .icon {
            display: inline-block;
            color: inherit;
            text-align: center;
            vertical-align: -0.125rem;
            fill: currentColor;
        }

        .nav-link {
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }

        .dropdown-menu-end {
            --cui-position: end;
        }

        .navbar-expand-lg .navbar-nav .dropdown-menu:before {
            display: none
        }

        .dropdown-menu {
            --cui-dropdown-min-width: 10rem;
            --cui-dropdown-padding-x: 0;
            --cui-dropdown-padding-y: 0.5rem;
            --cui-dropdown-spacer: 0.125rem;
            --cui-dropdown-font-size: 1rem;
            --cui-dropdown-color: rgba(44, 56, 74, 0.95);
            --cui-dropdown-bg: #fff;
            --cui-dropdown-border-color: var(--cui-border-color-translucent);
            --cui-dropdown-border-radius: 0.375rem;
            --cui-dropdown-border-width: 1px;
            --cui-dropdown-inner-border-radius: calc(0.375rem - 1px);
            --cui-dropdown-divider-bg: var(--cui-border-color-translucent);
            --cui-dropdown-divider-margin-y: 0.5rem;
            --cui-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 21, 0.15);
            --cui-dropdown-link-color: #4f5d73;
            --cui-dropdown-link-hover-color: #475468;
            --cui-dropdown-link-hover-bg: #d8dbe0;
            --cui-dropdown-link-active-color: rgba(255, 255, 255, 0.87);
            --cui-dropdown-link-active-bg: #321fdb;
            --cui-dropdown-link-disabled-color: #9da5b1;
            --cui-dropdown-item-padding-x: 1rem;
            --cui-dropdown-item-padding-y: 0.25rem;
            --cui-dropdown-header-color: #8a93a2;
            --cui-dropdown-header-padding-x: 1rem;
            --cui-dropdown-header-padding-y: 0.5rem;
            position: absolute;
            z-index: 1000;
            display: none;
            min-width: var(--cui-dropdown-min-width);
            padding: var(--cui-dropdown-padding-y) var(--cui-dropdown-padding-x);
            margin: 0;
            font-size: var(--cui-dropdown-font-size);
            color: var(--cui-dropdown-color);
            text-align: left;
            list-style: none;
            background-color: var(--cui-dropdown-bg);
            background-clip: padding-box;
            border: var(--cui-dropdown-border-width) solid var(--cui-dropdown-border-color);
            border-radius: var(--cui-dropdown-border-radius);
        }

        .dropdown-header {
            display: block;
            padding: var(--cui-dropdown-header-padding-y) var(--cui-dropdown-header-padding-x);
            margin-bottom: 0;
            font-size: 0.875rem;
            color: var(--cui-dropdown-header-color);
            white-space: nowrap;
        }

        .account-dropdown-header {
            border-top-left-radius: 0.375rem;
            border-top-right-radius: 0.375rem;
        }
    </style>
</head>



<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="~/Assets/Images/LogoMorii1.png" alt="LogoMorii1" height="40">
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <a href="~/" class="trang-chu-item">
                        <li class="nav-link trang-chu-item">TRANG CHỦ</li>
                        </a>
                        <a href="~/cau-chuyen" class="cau-chuyen-item">
                        <li class="nav-link cau-chuyen-item">CÂU CHUYỆN</li>
                        </a>
                        <a href="~/thuc-don" class="thuc-don-item">
                        <li class="nav-link thuc-don-item">THỰC ĐƠN</li>
                        </a>
                        <a href="~/blog" class="blog-item">
                        <li class="nav-link blog-item">BLOG</li>
                        </a>
                        @*<a href="~/" class="cua-hang-item">
        <li class="nav-link cua-hang-item">CỬA HÀNG</li>
        </a>*@
                        <a href="~/lien-he" class="lien-he-item">
                        <li class="nav-link lien-he-item">LIÊN HỆ</li>
                        </a>
                    </ul>
                    @*@RenderSection("isLogin", required:false)*@
                    <ul class="navbar-nav search-right mt-lg-0 mt-2">
                        <li class="nav-item mr-3" title="Search">
                            <a href="#search" class="btn search-search" style=" display: flex; justify-content: center; align-items: center; ">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </a>
                        </li>

                        @{
                            if (session == null)
                            {
                                <li class="nav-item">
                                    <a href="~/dang-nhap" class="btn btn-primary d-none d-lg-block btn-style mr-2">
                                        Đăng nhập
                                    </a>
                                </li>
                            }
                            else
                            {
                                @*@RenderPage("_UserDropdown.cshtml")*@
                                <ul class="header-nav ms-3">
                                    <li class="nav-item dropdown" style="margin-bottom: 6px; margin-top: 6px;">
                                        <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            @if (string.IsNullOrEmpty(nd.Urlmage))
                                            {
                                                <div class="avatar avatar-md">
                                                    <img class="avatar-img"
                                                         src="/Data/Files/noAvt2.png" alt="user@email.com">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="avatar avatar-md">
                                                    <img class="avatar-img"
                                                         src="@nd.Urlmage" alt="user@email.com">
                                                </div>
                                            }


                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end pt-0" style="margin-top: 10px;">
                                            <div class="dropdown-header bg-light py-2" style="border-top-left-radius: 6px; border-top-right-radius: 6px;">
                                                <div class="fw-semibold" style="font-size:18px;">@nd.HoTen</div>
                                            </div>
                                            <a class="dropdown-item" href="~/profile/chinh-sua/@nd.ID">
                                                <svg class="icon me-2">
                                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-user"></use>
                                                </svg> Tài Khoản Của Tôi
                                            </a>
                                            <a class="dropdown-item" href="~/profile/doi-mat-khau/@nd.ID">
                                                <svg class="icon me-2">
                                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-lock-unlocked"></use>
                                                </svg> Đổi Mật Khẩu
                                            </a>
                                            <a class="dropdown-item" href="~/profile/don-dat">
                                                <svg class="icon me-2">
                                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-credit-card"></use>
                                                </svg> Đơn Đặt
                                            </a>
                                            <a class="dropdown-item" id="dangXuatID"
                                               href="/dang-xuat">
                                                <svg class="icon me-2">
                                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-account-logout"></use>
                                                </svg>  Đăng Xuất
                                            </a>
                                        </div>
                                    </li>
                                </ul>

                            }

                        }


                    </ul>
                    <!-- //toggle switch for light and dark theme -->
                    <!-- search popup -->
                    <div id="search" class="pop-overlay">
                        <div class="popup">
                            <form action="#" method="GET" class="d-sm-flex">
                                <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                <button type="submit">Search</button>
                                <a class="close" href="#url">&times;</a>
                            </form>
                        </div>
                    </div>

                    <!-- /search popup -->
                </div>



                <div class="mode-container" style="display:flex; justify-content:center; align-items:center;">
                    <a href="/gio-hang">
                        <svg id="icon-cart" style="width: 40px; height: 40px;" class="cart-fff">
                            <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-cart"></use>
                        </svg>
                    </a>

                </div>
                @if (cartQtySession != null)
                {
                    <div class="top_menu_unseen">

                        @cartQtySession
                    </div>
                }
                else
                {
                    <div class="top_menu_unseen">

                        0
                    </div>
                }

            </nav>

        </div>
    </header>
    <!--/header-->
    <div>
        @RenderBody()
    </div>

    <!-- footer-66 -->
    <footer class="w3l-footer-66">
        <section class="footer-inner-main">
            <div class="footer-hny-grids py-5">
                <div class="container py-lg-4">
                    <div class="text-txt">

                        <div class="right-side">
                            <div class="row sub-columns">
                                <div class="col-lg-4 col-md-6 sub-one-left pr-lg-4">
                                    <h2>
                                        <a class="navbar-brand" href="">
                                            <img src="~/Assets/Images/LogoMorii1.png" alt="LogoMorii1" height="40">
                                        </a>
                                    </h2>
                                    <!-- if logo is image enable this
                            <a class="navbar-brand" href="#index.html">
                                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                            </a> -->
                                    <p class="pr-lg-4" style="color:#fff;">
                                        Morii gợi nhớ tới các vị khách dừng chân rằng thế giới ngoài kia dù nhanh hay chậm, dù quay cuồng hay mệt mỏi, vẫn có đâu đó những khoảnh khắc, những điều dù bé nhỏ nhưng đủ để xua tan một chút cái áp lực trong cuộc sống vội vã tấp nập ngoài kia. Và hãy để Morii là nơi lưu giữ những cảm giác và kí ức đó.

                                    </p>
                                    <div class="columns-2">
                                        <ul class="social">
                                            <li>
                                                <a href="#linkedin" style="display:flex;justify-content:center; align-items:center;"><i style="font-size:20px;" class="fa-brands fa-facebook" aria-hidden="true"></i></a>

                                            </li>
                                            <li>
                                                <a href="#linkedin" style="display:flex;justify-content:center; align-items:center;"><i style="font-size:20px;" class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a href="#linkedin" style="display:flex;justify-content:center; align-items:center;"><i style="font-size:20px;" class="fa-brands fa-twitter" aria-hidden="true"></i></a>

                                            </li>
                                            <li>
                                                <a href="#linkedin" style="display:flex;justify-content:center; align-items:center;"><i style="font-size:20px;" class="fa-brands fa-google" aria-hidden="true"></i></a>

                                            </li>
                                            <li>
                                                <a href="#linkedin" style="display:flex;justify-content:center; align-items:center;"><i style="font-size:20px;" class="fa-brands fa-tiktok" aria-hidden="true"></i></a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 sub-one-left">
                                    <h6>Dịch vụ</h6>
                                    <div class="mid-footer-gd sub-two-right">

                                        <ul>
                                            <li>
                                                <a href="/cau-chuyen" style="color:#fff;"><span class="fa fa-angle-double-right mr-2"></span> Câu chuyện</a>
                                            </li>
                                            <li>
                                                <a href="/thuc-don" style="color:#fff;"><span class="fa fa-angle-double-right mr-2"></span> Thực Đơn</a>
                                            </li>
                                            <li>
                                                <a href="/blog" style="color:#fff;"><span class="fa fa-angle-double-right mr-2"></span> Blog</a>
                                            </li>
                                            <li>
                                                <a href="/lien-he" style="color:#fff;"><span class="fa fa-angle-double-right mr-2"></span> Liên Hệ</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 sub-one-left">
                                    <h6>Thông tin liên hệ</h6>
                                    <div class="sub-contact-info">
                                        <p style="color:#fff;">Địa Chỉ: Hẻm 12/24 Đ. số 9, Linh Trung, Thủ Đức, TP.HCM</p>
                                        <p class="my-3" style="color:#fff;">Phone: <strong><a href="tel:+24160033999">(+84) 77 550 550 </a></strong></p>
                                        <p style="color:#fff;">E-mail:<strong> <a href="mailto:info@example.com">moriicoffee@gmail.com</a></strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- copyright -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span style="font-size:16px;" class="fa fa-long-arrow-up" aria-hidden="true"></span>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }

            </script>
            <script src="~/Scripts/bootstrap.bundle.min.js"></script>
            <script src="~/Assets/Admin/vendors/core-ui/coreui/js/coreui.bundle.min.js"></script>

        </section>
    </footer>
    <!--//footer-66 -->
</body>
</html>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
            $('#icon-cart').addClass("cart-morii");
        } else {
            $("#site-header").removeClass("nav-fixed");
            $('#icon-cart').removeClass("cart-morii");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>

<style>
    .right-side {
        margin-top: 0 !important;
        border-top: none !important;
        padding-top: 0 !important;
    }

    .cart-fff {
        color: #fff;
    }

    .cart-morii {
        color: #146d4d;
    }

    .top_menu_unseen {
        background-color: #146d4d;
        border-radius: 12px;
        vertical-align: top;
        position: absolute;
        top: 5px;
        right: -18px;
        width: 24px;
        height: 24px;
        color: white;
        font-size: 10px;
        font-weight: bold;
        line-height: 0;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
