<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/Client/css/style-starter.css" rel="stylesheet" />
    <a href="~/Assets/Client/fonts/fontawesome-webfont.eot"></a>
    <a href="~/Assets/Client/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/Assets/Client/fonts/fontawesome-webfont.woff"></a>
    <a href="~/Assets/Client/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/Assets/Client/fonts/FontAwesome.otf"></a>
    <script src="~/Assets/Client/js/bootstrap.min.js"></script>
    <script src="~/Assets/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Client/js/jquery.countup.js"></script>
    <script src="~/Assets/Client/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/Client/js/owl.carousel.js"></script>
    <script src="~/Assets/Client/js/theme-change.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
