<!DOCTYPE html>
<html>
<head>
    <title>MoriiCoffee</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="~/Assets/Images/LogoMorii1.png" type="image/x-icon" />
    <link href="~/Assets/Login_Register/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Flat UI Web Form Widget and Kit,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" . />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    @RenderSection("head", required: false)

</head>
<body>
    @RenderBody()
</body>
</html>