
@{
    ViewBag.Title = "MoriiCoffee";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var nd = ViewBag.ndd;
}

@model Model.EF.NguoiDung

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title text-morii">Tài Khoản Của Tôi</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="Index">Đơn Đặt</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>Danh Sách Đơn Đặt</li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->


<div class="w3-services py-5">
    <div class="container" style="padding:24px 0;">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div style="margin-right: 60px;">
                        <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; margin-bottom:20px;">Đơn Đặt</h3>
                        <hr class="style-10" />
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Mã Đơn Đặt</th>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Ngày Mua</th>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Số Tiền</th>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Trạng Thái</th>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Thanh Toán</th>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="">
                                        <p class="maDonDat" style="">
                                            #123456
                                        </p>
                                    </th>
                                    <td>
                                        <p class="ngayDat" style="">
                                            15/12/2022
                                        </p>
                                    </td>
                                    <td>
                                        <p class="totalPrice" style="">
                                            117.000 đ
                                        </p>
                                    </td>
                                    <td>
                                        <p class="statusDat" id="activeColor" style="">
                                            Đã Giao
                                        </p>
                                    </td>
                                    <td>
                                        <p class="thanhToanDat" style="">
                                            Tiền Mặt
                                        </p>
                                    </td>
                                    <td>
                                        <a style="">
                                            <img src="~/Data/Files/dots-option.png" />
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th style="">
                                        <p class="maDonDat" style="">
                                            #123456
                                        </p>
                                    </th>
                                    <td>
                                        <p class="ngayDat" style="">
                                            15/12/2022
                                        </p>
                                    </td>
                                    <td>
                                        <p class="totalPrice" style="">
                                            117.000 đ
                                        </p>
                                    </td>
                                    <td>
                                        <p class="statusDat" id="activeColor" style="">
                                            Đã Giao
                                        </p>
                                    </td>
                                    <td>
                                        <p class="thanhToanDat" style="">
                                            Tiền Mặt
                                        </p>
                                    </td>
                                    <td>
                                        <a style="">
                                            <img src="~/Data/Files/dots-option.png" />
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th style="">
                                        <p class="maDonDat" style="">
                                            #123456
                                        </p>
                                    </th>
                                    <td>
                                        <p class="ngayDat" style="">
                                            15/12/2022
                                        </p>
                                    </td>
                                    <td>
                                        <p class="totalPrice" style="">
                                            117.000 đ
                                        </p>
                                    </td>
                                    <td>
                                        <p class="statusDat" id="activeColor" style="">
                                            Đã Giao
                                        </p>
                                    </td>
                                    <td>
                                        <p class="thanhToanDat" style="">
                                            Tiền Mặt
                                        </p>
                                    </td>
                                    <td>
                                        <a style="">
                                            <img src="~/Data/Files/dots-option.png" />
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>

        #wrap-order-summary {
            padding: 24px;
        }

        .order-summary-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 14px;
        }

        .wrap-sub-total {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            margin-bottom: 48px;
        }

        .wrap-giamgia {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .wrap-estimated-total {
            display: flex;
            justify-content: space-between;
        }

        .sub-total {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000;
        }

        .button-checkout {
            margin-top: 36px;
            border: none;
            background-color: #146d4d;
            border-radius: 15px;
            padding: 16px;
            width: 100%;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }

        #wrap-order-summary {
            background-color: #F5F5F6;
            border-radius: 15px;
        }

        .img-product {
            width: 100px;
            height: 100px;
            border-radius: 15px;
            margin-right: 20px;
        }

        .product-details {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .product-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
        }

        .product-note {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 16px;
        }

        .product-price {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #146d4d;
        }

        .quantity-product {
            width: 50px;
            height: 33px;
            border: 2px solid #CFCFCF;
            text-align: center;
            margin: 0 13px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .button-quantity {
            background-color: transparent;
            border: none;
            font-weight: 400;
            font-size: 36px;
            line-height: 36px;
            outline: none !important;
        }

        .total-price {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #146d4d;
        }

        .img-header-avt:hover {
            cursor: pointer
        }

        .form-check-label {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
        }

        .form-check-input {
            padding: 7px;
            width: 100%;
            height: 2em;
        }

        button, input, select, label, li {
            -webkit-appearance: button;
        }

        .form-group {
            margin: 30px 0 30px 0;
        }

        .profile-header {
            display: flex;
            justify-content: space-between;
        }

        .profile-header-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .img-header {
            margin-right: 50px;
        }

        .button-profile-save {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .button-profile-save > button {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                background-color: #146d4d;
                padding: 14px;
                text-align: center;
                color: #FFFFFF;
                border: none;
                border-radius: 8px;
            }



        hr.style10 {
            border-top: 0.5px dotted #E5E5E5;
            border-bottom: 1px dotted #fff;
        }
    </style>


    <script>
        $(document).ready(function () {
            $("#doiMatKhauButton").on('click',
                function DoiMatKhau(e) {
                    e.preventDefault();
                    //Clear $(".message-error") and $('.message-success')
                    $(".message-error").empty();
                    $('.message-success').empty();

                    var id = $(this).data('id');

                    var oldPassword = $('#matKhauCuLabel').val();
                    var newPassword = $('#matKhauMoiLabel').val();
                    var confirmNewPassword = $('#xacNhanMatKhauMoiLabel').val();

                    console.log('Old Password ->>', oldPassword);
                    console.log('New Password ->>', newPassword);
                    console.log('Confirm New Password ->>', confirmNewPassword);

                    $.ajax({
                        type: "POST",
                        url: "/Profile/DoiMatKhau",
                        data: {
                            id: id,
                            oldPassword: oldPassword,
                            newPassword: newPassword,
                            confirmNewPassword: confirmNewPassword
                        },
                        dataType: "json",
                        success: function (res) {
                            console.log("NguyenHuuLong --> ", res.msg);
                            console.log("NguyenHuuLong --> err", res.err);
                            if (res.isValid) {
                                $('.message-success').append("Thay đổi mật khẩu thành công. ");
                            }
                            if (res.err) {
                                $(".message-error").append(res.err);
                            }
                            //window.location.replace("https://localhost:44309/");
                        },
                        error: function (err) {
                            console.log("err --> ", err);
                            console.log("err ->>", err.err);
                        },
                    });

                }
            )
        });
    </script>



    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>

    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->
