* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 95vh;
    margin: -20px 0 50px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

form.form-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #104639;
    background: -webkit-linear-gradient(to right, #104639, #104639);
    background: linear-gradient(to right, #104639, #104639);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

p.signin {
    font-weight: 700;
    font-size: 30px;
}
a.social {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
    cursor: pointer;
} 

.social-container {
    margin: 20px 0;

}
    .social-container a {
        border: 2px solid #000000;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
        color: #000;
        font-size: 20px;
        text-decoration: none;
       
    }

span.signin {
    font-size: 13px;
    font-style: italic;
    width: 300px;
    height: 30px;
    align-items: center;
}

.form-sign-in {
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
}

.form-input {
    background: transparent;
    color: #000000;
}

input.form-input {
    font-size: 14px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    margin: 8px 10px;
    width: 100%;
    border-radius: 6px;
}

a.show-btn {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    position: absolute;
    right: 33px;
    cursor: pointer;
}

.remember-password {
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: left;
}

input .remember-password {
    margin: 0.4rem;
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    cursor: pointer;
}

label.check-box {
    display: block;
    font-size: 14px;
    margin-left: 20px;
}

a.forget-password {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

button.signin {
    border-radius: 20px;
    border: 1px solid #104639;
    background-color: #104639;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

    button.signin:active {
        transform: scale(0.95);
    }

.sign-in-container {
    width: 50%;
    z-index: 2;
}
h1.welcom {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 0px 0 20px 0;
}

p.welcom {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 0px 0 20px 0;
}

button.signup {
    border-radius: 20px;
    border: 1px solid #104639;
    background-color: #104639;
    padding: 12px 45px;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
}


.rememberuser{
    cursor: pointer;
}

button.signup:active {
    transform: scale(0.95);
}

footer {
    background-color: #104639;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

    footer p {
        margin: 10px 0;
    }
