@model Model.EF.NguoiDung
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link href="~/Assets/Login_Register/css/dangnhap.css" rel="stylesheet" />
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}
<!--/start-login-one-->
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form method="post" action="@Url.Action("DangNhap", "User")" class="form-container">
            @Html.AntiForgeryToken()
            <p class="signin">Đăng nhập</p>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <span class="signin">hoặc sử dụng tài khoản đăng nhập</span>
            <div class="form-sign-in">
                <i class="fas fa-user"></i>
                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control form-input", @placeholder = "Tên đăng nhập" })
                
            </div>

            <div class="form-sign-in">
                <i class="fas fa-key"></i>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-input", @placeholder = "Mật khẩu" })
                <a href="#" class="show-btn"><i class="fas fa-eye"></i></a>
            </div>
            <div class="remember-password">
                <input type="checkbox"
                       name="rememberuser"
                       id="rememberuser"
                       value="1" />
                <label class="check-box" for="rememberuser">Nhớ tài khoản</label>
            </div>
            <a class="forget-password" href="#">Quên mật khẩu?</a>
            <button class="signin">Đăng nhập</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1 class="welcom">Morii xin chào</h1>
                <p class="welcom">Đăng nhập và bắt đầu cùng với Morii nào!</p>
                <p class="welcom">
                    Nếu chưa có tài khoản, hãy đăng ký nhanh vào bên dưới nhé!
                </p>
                <a href="/dang-ky">
                    <button class="signup">Đăng ký</button>
                </a>
              
            </div>
        </div>
    </div>
</div>

<footer>
    <p><b>Morii Coffee</b> - <i>Nơi lưu giữ những kỉ niệm</i></p>
</footer>