
<h3>Long</h3>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-0 ms-2">
            <li class="breadcrumb-item">
                <!-- if breadcrumb is single-->
                <span>Hóa Đơn</span>
            </li>
            <li class="breadcrumb-item active"><span>Chi Tiết Hóa Đơn</span></li>
        </ol>
    </nav>
</div>