<!DOCTYPE html>
<html>
<head>
    <title>Morii Coffee</title>
    <link href="~/Assets/Admin/css/atlas.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/bars.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/bootstrap-markdown.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/chocolat.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/clndr.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/fabochart.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/icon-font.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/jqvmap.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/popuo-box.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/vroom.css" rel="stylesheet" />
    <a href="~/Assets/Admin/fonts/digital-7-webfont.eot">~/Assets/Admin/fonts/digital-7-webfont.eot</a>
    <a href="~/Assets/Admin/fonts/digital-7-webfont.ttf">~/Assets/Admin/fonts/digital-7-webfont.ttf</a>
    <a href="~/Assets/Admin/fonts/digital-7-webfont.woff">~/Assets/Admin/fonts/digital-7-webfont.woff</a>
    <a href="~/Assets/Admin/fonts/digital-7_italic-webfont.eot">~/Assets/Admin/fonts/digital-7_italic-webfont.eot</a>
    <a href="~/Assets/Admin/fonts/digital-7_italic-webfont.ttf">~/Assets/Admin/fonts/digital-7_italic-webfont.ttf</a>
    <a href="~/Assets/Admin/fonts/digital-7_italic-webfont.woff">~/Assets/Admin/fonts/digital-7_italic-webfont.woff</a>
    <a href="~/Assets/Admin/fonts/digital-7_mono-webfont.eot">~/Assets/Admin/fonts/digital-7_mono-webfont.eot</a>
    <a href="~/Assets/Admin/fonts/digital-7_mono-webfont.ttf">~/Assets/Admin/fonts/digital-7_mono-webfont.ttf</a>
    <a href="~/Assets/Admin/fonts/digital-7_mono-webfont.woff">~/Assets/Admin/fonts/digital-7_mono-webfont.woff</a>
    <a href="~/Assets/Admin/fonts/fontawesome-webfont.eot">~/Assets/Admin/fonts/fontawesome-webfont.eot</a>
    <a href="~/Assets/Admin/fonts/fontawesome-webfont.ttf">~/Assets/Admin/fonts/fontawesome-webfont.ttf</a>
    <a href="~/Assets/Admin/fonts/fontawesome-webfont.woff">~/Assets/Admin/fonts/fontawesome-webfont.woff</a>
    <a href="~/Assets/Admin/fonts/FontAwesome.otf">~/Assets/Admin/fonts/FontAwesome.otf</a>
    <a href="~/Assets/Admin/fonts/glyphicons-halflings-regular.eot">~/Assets/Admin/fonts/glyphicons-halflings-regular.eot</a>
    <a href="~/Assets/Admin/fonts/glyphicons-halflings-regular.ttf">~/Assets/Admin/fonts/glyphicons-halflings-regular.ttf</a>
    <a href="~/Assets/Admin/fonts/glyphicons-halflings-regular.woff">~/Assets/Admin/fonts/glyphicons-halflings-regular.woff</a>
    <a href="~/Assets/Admin/fonts/glyphicons-halflings-regular.woff2">~/Assets/Admin/fonts/glyphicons-halflings-regular.woff2</a>
    <a href="~/Assets/Admin/fonts/weathericons-regular-webfont.eot">~/Assets/Admin/fonts/weathericons-regular-webfont.eot</a>
    <a href="~/Assets/Admin/fonts/weathericons-regular-webfont.ttf">~/Assets/Admin/fonts/weathericons-regular-webfont.ttf</a>
    <a href="~/Assets/Admin/fonts/weathericons-regular-webfont.woff">~/Assets/Admin/fonts/weathericons-regular-webfont.woff</a>
    <script src="~/Assets/Admin/js/amcharts.js"></script>
    <script src="~/Assets/Admin/js/arbor.js"></script>
    <script src="~/Assets/Admin/js/atlas.js"></script>
    <script src="~/Assets/Admin/js/barChart.jquery.js"></script>
    <script src="~/Assets/Admin/js/bootstrap-markdown.js"></script>
    <script src="~/Assets/Admin/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin/js/cbpFWTabs.js"></script>
    <script src="~/Assets/Admin/js/Chart-pie.js"></script>
    <script src="~/Assets/Admin/js/Chart.js"></script>
    <script src="~/Assets/Admin/js/clndr.js"></script>
    <script src="~/Assets/Admin/js/css3clock.js"></script>
    <script src="~/Assets/Admin/js/CSSPlugin.min.js"></script>
    <script src="~/Assets/Admin/js/datamaps-all.js"></script>
    <script src="~/Assets/Admin/js/dygraph-combined.js"></script>
    <script src="~/Assets/Admin/js/fabochart.js"></script>
    <script src="~/Assets/Admin/js/jquery-1.10.2.min.js"></script>
    <script src="~/Assets/Admin/js/jquery.vmap.js"></script>
    <script src="~/Assets/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Assets/Admin/js/jquery.chocolat.js"></script>
    <script src="~/Assets/Admin/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Assets/Admin/js/jquery.vmap.world.js"></script>
    <script src="~/Assets/Admin/js/light.js"></script>
    <script src="~/Assets/Admin/js/map.js"></script>
    <script src="~/Assets/Admin/js/modernizr.custom.04022.js"></script>
    <script src="~/Assets/Admin/js/moment-2.2.1.js"></script>
    <script src="~/Assets/Admin/js/protovis-d3.2.js"></script>
    <script src="~/Assets/Admin/js/radar.js"></script>
    <script src="~/Assets/Admin/js/responsiveslides.min.js"></script>
    <script src="~/Assets/Admin/js/scripts.js"></script>
    <script src="~/Assets/Admin/js/serial.js"></script>
    <script src="~/Assets/Admin/js/site.js"></script>
    <script src="~/Assets/Admin/js/skycons.js"></script>
    <script src="~/Assets/Admin/js/TweenLite.min.js"></script>
    <script src="~/Assets/Admin/js/underscore-min.js"></script>
    <script src="~/Assets/Admin/js/vix.js"></script>
    <script src="~/Assets/Admin/js/vroom.js"></script>
    <a href="~/Assets/Admin/maps/africa.json">~/Assets/Admin/maps/africa.json</a>
    <a href="~/Assets/Admin/maps/america.json">~/Assets/Admin/maps/america.json</a>
    <a href="~/Assets/Admin/maps/asia.json">~/Assets/Admin/maps/asia.json</a>
    <a href="~/Assets/Admin/maps/europe.json">~/Assets/Admin/maps/europe.json</a>
    <a href="~/Assets/Admin/maps/mideast.json">~/Assets/Admin/maps/mideast.json</a>
    <a href="~/Assets/Admin/maps/risk.json">~/Assets/Admin/maps/risk.json</a>
    <a href="~/Assets/Admin/maps/usofa.json">~/Assets/Admin/maps/usofa.json</a>




    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
