<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Assets/Admin/css/examples.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/examples.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/style.min.css" rel="stylesheet" />
    <a href="~/Assets/Admin/css/examples.css.map"></a>
    <a href="~/Assets/Admin/css/examples.min.css.map"></a>
    <a href="~/Assets/Admin/css/style.css.map"></a>
    <a href="~/Assets/Admin/css/style.min.css.map"></a>
    <a href="~/Assets/Admin/css/vendors/simplebar.css.map"></a>
    <link href="~/Assets/Admin/css/vendors/simplebar.css" rel="stylesheet" />
    <script src="~/Assets/Admin/js/charts.js"></script>
    <script src="~/Assets/Admin/js/colors.js"></script>
    <script src="~/Assets/Admin/js/main.js"></script>
    <script src="~/Assets/Admin/js/popovers.js"></script>
    <script src="~/Assets/Admin/js/toasts.js"></script>
    <script src="~/Assets/Admin/js/tooltips.js"></script>
    <script src="~/Assets/Admin/js/widgets.js"></script>
    <a href="~/Assets/Admin/js/charts.js.map"></a>
    <a href="~/Assets/Admin/js/colors.js.map"></a>
    <a href="~/Assets/Admin/js/main.js.map"></a>
    <a href="~/Assets/Admin/js/popovers.js.map"></a>
    <a href="~/Assets/Admin/js/toasts.js.map"></a>
    <a href="~/Assets/Admin/js/tooltips.js.map"></a>
    <a href="~/Assets/Admin/js/widgets.js.map"></a>
    @*<link href="~/Assets/Admin/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet" />
    <a href="~/Assets/Admin/vendors/@coreui/chartjs/css/coreui-chartjs.css.map">~/Assets/Admin/vendors/@coreui/chartjs/css/coreui-chartjs.css.map</a>
    <a href="~/Assets/Admin/vendors/@coreui/chartjs/js/coreui-chartjs.js.map">~/Assets/Admin/vendors/@coreui/chartjs/js/coreui-chartjs.js.map</a>
    <script src="~/Assets/Admin/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="~/Assets/Admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <a href="~/Assets/Admin/vendors/@coreui/coreui/js/coreui.bundle.min.js.map">~/Assets/Admin/vendors/@coreui/coreui/js/coreui.bundle.min.js.map</a>
    <link href="~/Assets/Admin/vendors/@coreui/icons/css/brand.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendors/@coreui/icons/css/flag.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendors/@coreui/icons/css/free.min.css" rel="stylesheet" />
    <a href="~/Assets/Admin/vendors/@coreui/icons/css/brand.min.css.map">~/Assets/Admin/vendors/@coreui/icons/css/brand.min.css.map</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/css/flag.min.css.map">~/Assets/Admin/vendors/@coreui/icons/css/flag.min.css.map</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/css/free.min.css.map">~/Assets/Admin/vendors/@coreui/icons/css/free.min.css.map</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Brand.eot">~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Brand.eot</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Brand.ttf">~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Brand.ttf</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Brand.woff">~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Brand.woff</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Free.eot">~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Free.eot</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Free.ttf">~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Free.ttf</a>
    <a href="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Free.woff">~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Free.woff</a>
    <img src="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Brand.svg" />
    <img src="~/Assets/Admin/vendors/@coreui/icons/fonts/CoreUI-Icons-Free.svg" />
    <script src="~/Assets/Admin/vendors/@coreui/utils/js/coreui-utils.js"></script>*@
    <script src="~/Assets/Admin/vendors/chart.js/js/chart.min.js"></script>
    <link href="~/Assets/Admin/vendors/simplebar/css/simplebar.css" rel="stylesheet" />
    <script src="~/Assets/Admin/vendors/simplebar/js/simplebar.min.js"></script>

    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
