@model Model.EF.ChiTietSanPham


@section breadcrumb {
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
                <li class="breadcrumb-item">
                    <!-- if breadcrumb is single-->
                    <span>Sản phẩm</span>
                </li>
                <li class="breadcrumb-item active"><span>Thêm mới</span></li>
            </ol>
        </nav>
    </div>
}


@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var sanpham = ViewBag.sanpham;
}

<script src="~/Scripts/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="tab-content rounded-bottom">
    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-907">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Thêm mới Sản phẩm</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-644">
                        <form>
                            <div class="input-group mb-3">
                                <label class="col-sm-2 col-form-label" for="urlAnh">Loại sản phẩm</label>
                                <div class="col-sm-10">
                                    <div class="input-group" style="cursor: pointer;">
                                        <select class="form-select" aria-label="Default select example" name="MaPhanLoai">
                                            @{
                                                foreach (var sp in sanpham)
                                                {
                                                    <option class="selectedPhanLoai" value="@sp.ID">@sp.PhanLoai</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-sm-2 col-form-label" for="urlAnh">Ảnh Sản phẩm</label>
                                <div class="col-sm-10">
                                    <div class="input-group" onclick="BrowserSever()" style="cursor: pointer;">
                                        <span class="input-group-text" id="basic-addon3">Upload</span>
                                        <input class="form-control" id="urlAnh" type="text" aria-describedby="basic-addon3" name="urlImage">
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-sm-2 col-form-label" for="tieude">Tên sản phẩm</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="tieude" type="text" name="TenSanPham">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-sm-2 col-form-label" for="tieude">Giá</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="tieude" type="text" name="Gia">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-sm-2 col-form-label" for="exampleFormControlTextarea1">Mô tả sản phẩm</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="MoTaSanPham"></textarea>
                                </div>

                            </div>
                            @*Nội dung*@
                            @*<div class="input-group mb-3">
                                    <label class="col-sm-2 col-form-label" for="noidung">Nội dung</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control ckeditor" name="noidung" id="noidung" rows="3"></textarea>
                                    </div>
                                </div>*@
                            <button class="btn btn-success" type="submit" value="Create">Tạo mới</button>
                        </form>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<script>
    //Handle thêm CKEDITOR
    CKEDITOR.replace("ckeditor");

    //Handle thêm CKFINDER
    function BrowserSever() {
        var finder = new CKFinder();
        finder.selectActionFunction = GanUrl;
        finder.popup();
    }

    function GanUrl(url) {
        console.log(url);
        $("#urlAnh").val(url);

    }

</script>

<script>
    $(document).ready(function () {
        console.log($('.form-select').val())

    });
</script>