@model MoriiCoffee.Models.NguoiDung
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
          min-vh-100">
        @using (Html.BeginForm("Register", "TrangChu", FormMethod.Post))
        {
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Forgot Password?</h5>
                            <p class="mb-2">
                                Enter your registered email ID to reset the password
                            </p>
                        </div>
                        <form>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                                       required="">
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" name="submit" class="btn btn-primary" value="ForgotPassword">
                                    Reset Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
