
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Lorem Ipsum</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="about.html">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top1 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Lorem Ipsum</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="about.html">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Lorem Ipsum</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="about.html">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h5>Lorem Ipsum</h5>
                                    <div class="banner-buttons">
                                        <a class="btn btn-style btn-primary" href="about.html">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- //banner-slider-->

<!--Section Menu-->

<section class="popular-menu__area popular-menu__area--2 dark-bg position-relative pt-115">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="section-heading mb-60">
                    <span class="sub-title">MENU</span>
                    <h2 class="title">
                        Popular Menu
                    </h2>
                </div>
            </div>
        </div>
        <div class="row mt-none-30 justify-content-between">
            <div class="col-xl-12">
                <div class="pm-list-wrapper">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
                            <div class="popular-menu__list">
                                <div class="thumb">
                                    <img src="~/Assets/Images/menu-1.png" />
                                </div>
                                <div class="content">
                                    <h3 class="title border-effect">
                                        <a href="#">Americano Rosted GRED</a>
                                    </h3>
                                    <span class="price">$12.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
                            <div class="popular-menu__list">
                                <div class="thumb">
                                    <img src="~/Assets/Images/menu-2.png" />
                                </div>
                                <div class="content">
                                    <h3 class="title border-effect">
                                        <a href="#">Americano Rosted GRED</a>
                                    </h3>
                                    <span class="price">$12.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
                            <div class="popular-menu__list">
                                <div class="thumb">
                                    <img src="~/Assets/Images/menu-3.png" />
                                </div>
                                <div class="content">
                                    <h3 class="title border-effect">
                                        <a href="#">Americano Rosted GRED</a>
                                    </h3>
                                    <span class="price">$12.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
                            <div class="popular-menu__list">
                                <div class="thumb">
                                    <img src="~/Assets/Images/menu-4.png" />
                                </div>
                                <div class="content">
                                    <h3 class="title border-effect">
                                        <a href="#">Americano Rosted GRED</a>
                                    </h3>
                                    <span class="price">$12.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
                            <div class="popular-menu__list">
                                <div class="thumb">
                                    <img src="~/Assets/Images/menu-5.png" />
                                </div>
                                <div class="content">
                                    <h3 class="title border-effect">
                                        <a href="#">Americano Rosted GRED</a>
                                    </h3>
                                    <span class="price">$12.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
                            <div class="popular-menu__list">
                                <div class="thumb">
                                    <img src="~/Assets/Images/menu-6.png" />
                                </div>
                                <div class="content">
                                    <h3 class="title border-effect">
                                        <a href="#">Americano Rosted GRED</a>
                                    </h3>
                                    <span class="price">$12.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

@*<section class="meu-section">
    <div class="row mt-none-30 justify-content-between">
        <div class="col-xl-12">
            <div class="pm-list-wrapper">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 l-item mt-30">
                        <div class="popular-menu__list">
                            <div class="thumb">
                                <img src="~/Assets/Images/menu-1.png"/>
                            </div>
                            <div class="content">
                                <h3 class="title border-effect">
                                    <a href="#">Americano Rosted GRED</a>
                                </h3>
                                <span class="price">$12.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--End Section Menu-->

<!-- /features-4 -->
<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h6 class="sub-title">Why Choose Us</h6>
                <h3 class="hny-title">Great car service</h3>
                <p class="fea-para">Lorem illum facere aperiam consectetur adipisicing elit</p>
            </div>
            <div class="row features4-grids text-left mt-lg-4">
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-1">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"></div>
                                        <div class="ch-info-back">
                                            <h4>Carserving</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="features4-rightinfo">
                            <h5><a href="#URL">Tire and wheel</a></h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-2"></div>
                                        <div class="ch-info-back">
                                            <h4>Carserving</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Electrical system
                                </a>
                            </h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-3">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-3"></div>
                                        <div class="ch-info-back">
                                            <h4>Carserving</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    System service
                                </a>
                            </h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-4">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-4"></div>
                                        <div class="ch-info-back">
                                            <h4>Carserving</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Engine diagnostics
                                </a>
                            </h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--//features-4 -->
<!-- /specification-6-->
<section class="w3l-specification-6">
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids">
                <div class="col-lg-10 story-gd pl-lg-4  text-center mx-auto">
                    <div class="title-content px-lg-5">
                        <h6 class="sub-title">Our Organization</h6>
                        <h3 class="hny-title two">Car serving matched with great workmanship.</h3>
                        <p class="mt-3 mb-lg-5 px-lg-5 counter-para">
                            Lorem illum facere aperiam sequi optio
                            consectetur
                            adipisicing elitFuga,
                            suscipit totam
                            animi
                            consequatur saepe blanditiis.Lorem ipsum dolor sit amet
                        </p>
                    </div>
                    <div class="skill_info mt-5 pt-lg-4">
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">65</p>
                                    <h4>Total projects</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">165</p>
                                    <h4>Transparency</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">463</p>
                                    <h4>Done projects</h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">5063</p>
                                    <h4>Get awards</h4>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->
<section class="w3l-pricing">
    <div class="py-5" id="pricing">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-5">
                <h6 class="sub-title">Best Packages</h6>
                <h3 class="hny-title">Our Pricing Plans</h3>
                <p class="fea-para">Lorem illum facere aperiam consectetur adipisicing elit</p>
            </div>
            <div class="row t-in">
                <div class="col-lg-4 col-md-6 price-main-info">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">Silver Package</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>35

                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Conventional Oil Change</li>
                                <li> <span class="fa fa-check"></span> Fuel System Cleaning</li>
                                <li> <span class="fa fa-check"></span> Coolant Exchange</li>
                                <li> <span class="fa fa-check"></span> Transmission Fluid Service</li>
                                <li> <span class="fa fa-check"></span> Visual Brake Inspection</li>
                                <li> <span class="fa fa-check"></span> Tire Rotation</li>
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="btn btn-style btn-outline-primary"> Go Basic</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-md-0 mt-4">
                    <div class="price-inner card box-shadow active">

                        <div class="card-body">
                            <label class="price-label">Recommended</label>
                            <h4 class="text-uppercase text-center mb-3">Platinum Package</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>69

                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Conventional Oil Change</li>
                                <li> <span class="fa fa-check"></span> Fuel System Cleaning</li>
                                <li> <span class="fa fa-check"></span> Coolant Exchange</li>
                                <li> <span class="fa fa-check"></span> Transmission Fluid Service</li>
                                <li> <span class="fa fa-check"></span> Visual Brake Inspection</li>
                                <li> <span class="fa fa-check"></span> Tire Rotation</li>
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="read-more">
                                    <a href="contact.html" class="btn btn-style btn-primary"> Go Standard</a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 price-main-info mt-lg-0 mt-4">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase text-center mb-3">Gold Package</h4>
                            <h5 class="card-title pricing-card-title">
                                <span class="align-top">$</span>39
                            </h5>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li> <span class="fa fa-check"></span> Conventional Oil Change</li>
                                <li> <span class="fa fa-check"></span> Fuel System Cleaning</li>
                                <li> <span class="fa fa-check"></span> Coolant Exchange</li>
                                <li> <span class="fa fa-check"></span> Transmission Fluid Service</li>
                                <li> <span class="fa fa-check"></span> Visual Brake Inspection</li>
                                <li> <span class="fa fa-check"></span> Tire Rotation</li>
                            </ul>
                            <div class="read-more mt-4 pt-lg-2">
                                <a href="contact.html" class="btn btn-style btn-outline-primary"> Go Premium</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- middle -->
<div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-left py-3">
            <div class="title-content">
                <h6 class="sub-title">Call Us</h6>
                <h3 class="hny-title two mb-2">Imagine Your Car Feeling New Again</h3>
                <p>
                    Questions? Give us a call today at <a href="tel:+(21) 255 999 8899">
                        +(21)
                        255 999 8899
                    </a>
                </p>

            </div>
            <a href="services.html" class="btn btn-white mt-md-5 mt-4 mr-sm-2">Our Services</a>
            <a href="contact.html" class="btn btn-white-active btn-primary mt-md-5 mt-4">Contact Us</a>
        </div>
    </div>
</div>
<!-- //middle -->
<!--/testimonials-->
<section class="w3l-testimonials">
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="title-content text-center mb-lg-5 mb-4">
                <h6 class="sub-title">Client Testimonials</h6>
                <h3 class="hny-title">100% approved by customers</h3>

            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Assets/Client/images/team1.jpg" class="img-fluid rounded" alt="client image">

                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                    id
                                    accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- Jenkins</div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Assets/Client/images/team2.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                    id
                                    accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- John Balmer</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Assets/Client/images/team3.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                    id
                                    accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- Kiss Kington</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/Assets/Client/images/team4.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                    id
                                    accusantium
                                    officia quod quasi necessitatibus perspiciatis Harum error provident
                                    quibusdam tenetur.
                                </div>
                                <div class="name">- Elizabeth</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//testimonials-->
<!-- Template JavaScript -->
<script src="~/Assets/Client/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script src="~/Assets/Client/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });
</script>
<!--//-->
<script src="~/Assets/Client/js/theme-change.js"></script>
<script src="~/Assets/Client/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
    $(document).ready(function () {
        $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true
                }
            }
        })
    })
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>
    $(document).ready(function () {
        $('.owl-testimonial').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        })
    })
</script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!-- stats number counter-->
<script src="~/Assets/Client/js/jquery.waypoints.min.js"></script>
<script src="~/Assets/Client/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
